.title-banner-wrap {
  background: url(../images/contact/contact.png);
}

/* contact-wrap */
.sub-title {
  font-size: var(--font-body2);
  letter-spacing: var(--ls-body2);
  font-weight: var(--weight-body2);
  text-align: center;
}
fieldset:first-child {
  margin-top: 70px;
  margin-bottom: 30px;
}
.form-center {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.form-center > p {
  position: relative;
  width: 47%;
  margin-bottom: 20px;
  display: flex;
  justify-content: start;
}
.form-center > p:first-of-type {
  width: 100%;
}
.form-center > p:last-of-type {
  width: 100% !important;
  display: flex;
  justify-content: space-between;
}
.form-center > p > label {
  margin-bottom: 5px;
  display: inline-block;
  width: 20%;
  white-space: nowrap;
  font-size: var(--font-body2);
  letter-spacing: var(--ls-body2);
  font-weight: var(--weight-body2);
}
.form-center > p:first-of-type > label,
.form-center > p:last-of-type > label {
  width: calc(20% / 2);
}
.form-center select {
  font-size: var(--font-body4);
  letter-spacing: var(--ls-body4);
  font-weight: var(--weight-body4);
  width: 96%;
  height: 38px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid var(--color-light-gray);
  -o-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../images/contact/dropArrow.png) calc(100% - 15px) center
    no-repeat;
}
.form-center select:focus {
  border: 1px solid var(--color-main);
}
.form-center select:focus option:first-of-type {
  display: none;
}
.form-center input,
.form-center textarea {
  width: 80%;
  height: 38px;
  border: 1px solid var(--color-light-gray);
  border-radius: 5px;
  padding: 5px 10px;
  font-size: var(--font-body4);
  letter-spacing: var(--ls-body4);
  font-weight: var(--weight-body4);
}
.form-center textarea {
  width: 96% !important;
  height: 240px;
}
.form-center input:focus,
.form-center textarea:focus {
  border: 1px solid var(--color-main);
  padding: 5px 10px;
  font-size: var(--font-body4);
  letter-spacing: var(--ls-body4);
  font-weight: var(--weight-body4);
}
.form-center input:focus::placeholder,
.form-center textarea:focus::placeholder {
  color: transparent;
  padding: 5px 10px;
}
.file-event {
  position: relative;
}
.file-event > label:nth-of-type(2) {
  z-index: 2;
  position: absolute;
  right: 0;
  bottom: -5px;
  text-align: center;
  background-color: var(--color-light-gray);
  color: var(--color-white);
  padding: 8.5px 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 90px !important;
  cursor: pointer;
  box-sizing: initial;
  font-size: var(--font-body4);
  letter-spacing: var(--ls-body4);
  font-weight: var(--weight-body4);
}
:lang(en) .file-event > label:nth-of-type(2) {
  padding: 10.5px 10px;
}
.file-event > label:nth-of-type(2):hover {
  background-color: var(--color-main);
}

.file-event > #bizFile {
  display: none;
}
.file-event > span {
  padding: 7px 10px;
  display: block;
  position: absolute;
  left: 20%;
  color: var(--color-light-gray);
  font-size: var(--font-body4);
  letter-spacing: var(--ls-body4);
  font-weight: var(--weight-body4);
  border: 1px solid var(--color-light-gray);
  width: 80%;
  height: 38px;
  border-radius: 5px;
}
:lang(en) .file-event > span {
  padding: 10px;
}
.file-event-text > span {
  display: block;
  font-size: var(--font-body5);
  letter-spacing: var(--ls-body5);
  font-weight: var(--weight-body5);
}

/* agree wrap */
.agree-center {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
.agree-content > p {
  text-align: left;
  font-size: var(--font-body4);
  letter-spacing: var(--ls-body4);
  font-weight: var(--weight-body4);
}
.agree-content > p:first-of-type {
  box-sizing: border-box;
  padding: 25px 0;
}
.agree-content > p:nth-of-type(2) {
  border-top: 2px solid var(--color-light-gray);
  padding-top: 25px;
}
.agree-content > p:last-of-type {
  height: 150px;
  overflow-y: scroll;
  box-sizing: border-box;
}
.agree-center > label {
  font-size: var(--font-body4);
  letter-spacing: var(--ls-body4);
  font-weight: var(--weight-body4);
  padding: 30px 0;
  display: inline-block;
  box-sizing: border-box;
  text-align: center !important;
}
#agreeCheck {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
#agreeCheck + label {
  cursor: pointer;
}
#agreeCheck + label:hover {
  color: var(--color-main);
}
#agreeCheck + label::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  border: 1px solid var(--color-light-gray);
  border-radius: 5px;
  vertical-align: middle;
  margin-right: 10px;
}
#agreeCheck:checked + label::before {
  background-color: var(--color-main);
  border-color: var(--color-main);
  background-image: url(../images/contact/checked.png);
  background-repeat: no-repeat;
  background-position: center;
}
.agree-more-btn {
  font-size: var(--font-body4);
  letter-spacing: var(--ls-body4);
  font-weight: var(--weight-body4);
  color: var(--color-light-gray);
  margin-left: 50px;
  position: relative;
}
.agree-more-btn::after {
  position: absolute;
  right: -15px;
  top: 35%;
  display: block;
  content: '';
  width: 7px;
  height: 7px;
  border-top: 1px solid var(--color-light-gray);
  border-right: 1px solid var(--color-light-gray);
  transform: rotate(45deg);
}
.submit-btn {
  display: block;
  margin: auto;
  width: 350px;
  padding: 18px 40px;
  margin-top: 30px;
  color: var(--color-main);
  font-size: var(--font-body1);
  font-weight: var(--weight-body1);
  letter-spacing: var(--ls-body1);
  border: 1px solid var(--color-main);
  border-radius: 5px;
  box-shadow: inset 0 0 0 0 var(--color-main);
  -webkit-transition: ease-out 0.5s;
  -moz-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
}
.submit-btn:hover {
  box-shadow: inset 0 100px 0 0 var(--color-main);
  color: var(--color-white);
}

/* agree-content modal */
body {
  position: relative;
}
.agree-content-wrap {
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: none;
}
.agree-content {
  width: 50%;
  position: absolute;
  padding: 50px 100px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid var(--color-light-gray);
  background-color: var(--color-white);
}
.agree-content > p {
  text-align: left;
  font-size: var(--font-body4);
  letter-spacing: var(--ls-body4);
  font-weight: var(--weight-body4);
}
.agree-content > p:first-of-type {
  box-sizing: border-box;
  padding: 25px 0;
  text-align: center;
  font-size: var(--font-body1);
  letter-spacing: var(--ls-body1);
  font-weight: var(--weight-body1);
}
.agree-content > p:nth-of-type(2) {
  border-top: 2px solid var(--color-light-gray);
  padding-top: 25px;
}
.agree-content > p:last-of-type {
  height: 300px;
  margin-bottom: 30px;
}
.agree-close-btn {
  font-size: var(--font-body2);
  font-weight: var(--weight-h1);
  letter-spacing: var(--ls-body2);
  text-align: center;
  display: block;
  border: 1px solid var(--color-light-gray);
  border-radius: 5px;
  padding: 15px 40px;
  width: 250px;
  margin: 30px auto;
}

/* media qr */
@media screen and (max-width: 1450px) {
  .center {
    width: 90%;
    margin: 0 auto;
  }
  .agree-content {
    padding: 20px 50px;
    width: 70%;
  }
  .agree-close-btn {
    font-size: var(--font-body4);
    letter-spacing: var(--ls-body4);
    padding: 10px 20px;
  }
}
@media screen and (max-width: 1023px) {
  .form-center {
    display: flex;
    justify-content: none;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .form-center > p {
    width: 100%;
    display: block;
  }
  .form-center > p:first-of-type {
    order: 1;
  }
  .form-center > p:nth-of-type(2) {
    order: 2;
  }
  .form-center > p:nth-of-type(3) {
    order: 5;
  }
  .form-center > p:nth-of-type(4) {
    order: 3;
  }
  .form-center > p:nth-of-type(5) {
    order: 6;
  }
  .form-center > p:nth-of-type(6) {
    order: 4;
  }
  .form-center > p:nth-of-type(7) {
    order: 7;
  }
  .form-center > p:last-of-type {
    display: block;
    order: 8;
  }
  .form-center select {
    width: 100%;
  }
  .form-center input,
  .form-center textarea {
    width: 100% !important;
  }
  .file-event > span {
    width: 100%;
    display: block;
    left: 0;
  }
  .file-event > label:nth-of-type(2) {
    bottom: -43px;
  }
  .agree-content {
    width: 80%;
  }
}
@media screen and (max-width: 767px) {
  /* contactWrap */
  .center {
    width: 95%;
  }
  .sub-title {
    font-size: var(--font-body4);
    letter-spacing: var(--ls-body4);
    font-weight: var(--weight-body4);
    word-break: keep-all;
  }
  fieldset:first-child {
    border-top: 2px solid var(--color-dark) !important;
  }
  .form-center > p:first-of-type {
    margin-top: 20px;
  }
  .form-center > p > label {
    font-size: var(--font-body3);
    letter-spacing: var(--ls-body3);
    font-weight: var(--weight-body3);
  }
  .form-center select {
    font-size: var(--font-body5);
    letter-spacing: var(--ls-body5);
    font-weight: var(--weight-body5);
  }
  .form-center input,
  .form-center textarea {
    font-size: var(--font-body5);
    letter-spacing: var(--ls-body5);
    font-weight: var(--weight-body5);
  }
  .form-center input::placeholder,
  .form-center textarea::placeholder {
    font-size: var(--font-body5);
    letter-spacing: var(--ls-body5);
    font-weight: var(--weight-body5);
  }
  .file-event > span {
    padding: 9px 10px;
    font-size: var(--font-body5);
    letter-spacing: var(--ls-body5);
    font-weight: var(--weight-body5);
  }
  .agree-center {
    width: 95%;
  }
  .agree-center > label {
    padding: 15px 0;
  }
  .agree-more-btn {
    margin-left: 0;
    display: block;
    text-align: center;
    margin: 0 auto;
  }
  .submit-btn {
    width: 100%;
    padding: 12px 20px;
    font-size: var(--font-body3);
    font-weight: var(--weight-body3);
    letter-spacing: var(--ls-body3);
  }
  /* agree-content modal */
  .agree-content {
    padding: 0 15px;
    border: 1px solid var(--color-dark);
  }
  .agree-content > p {
    font-size: var(--font-body5);
    letter-spacing: var(--ls-body5);
    font-weight: var(--weight-body5);
  }
  .agree-content > p:first-of-type {
    font-size: var(--font-body3);
    letter-spacing: var(--ls-body3);
    font-weight: var(--weight-body3);
  }
  .agree-content > p:last-of-type {
    text-align: left;
    margin-bottom: 30px;
  }
  .agree-close-btn {
    width: 100%;
  }
}
